.hg/
.hgtags
*.swp
.DS_Store
*.pyc
.idea
*.orig
*.mo
*.pot
.bzr
.bzrignore
.project
.pydevproject
.settings
todelete/
eggs_todelete/

; For bootstrap
bin
eggs
parts
.installed.cfg
develop-eggs
downloads
etc

; For virtualenv 
py27
bin
lib
.Python
include

; For project
*.cfg
*.pub
ssh_keys_temp/*.pub
backups/
*.box
*.log
draft/
bash_scripts/

docker/


